# Entorno virtual
.venv/

# Archivos de evolución generados automáticamente
GoL/evolucionesGoL/
Regla90/evoluciones_1d/

# Archivos MIDI y GIF
*.mid
*.gif

# Archivos temporales de Python
__pycache__/
*.pyc